alabaster==0.7.8
ament-cmake-test==1.1.5
ament-index-python==1.2.0
ament-package==0.13.1
apturl==0.5.2
argcomplete==1.8.1
atomicwrites==1.1.5
attrs==19.3.0
autobahn==17.10.1
Automat==0.8.0
Babel==2.6.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
black==22.6.0
blinker==1.4
Brlapi==0.7.0
cached-property==1.5.1
catkin-pkg-modules==0.5.2
cbor==1.0.0
certifi==2019.11.28
chardet==3.0.4
click==8.1.3
colorama==0.4.3
command-not-found==0.3
constantly==15.1.0
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.14
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
distro==1.4.0
distro-info===0.23ubuntu1
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.16
duplicity==0.8.12.0
empy==3.3.2
entrypoints==0.3
fasteners==0.14.1
future==0.18.2
GDAL==3.0.4
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
imagesize==1.2.0
importlib-metadata==1.5.0
incremental==16.10.1
interactive-markers==2.2.0
ipython_genutils==0.2.0
Jinja2==2.10.1
jsonschema==3.2.0
jupyter-core==4.6.3
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
lark-parser==0.8.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
lz4==3.0.2+dfsg
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==1.1.0
matplotlib==3.1.2
monotonic==1.5
more-itertools==4.2.0
mpi4py==3.0.3
mypy-extensions==0.4.3
nbformat==5.0.4
netifaces==0.10.4
numpy==1.17.4
oauthlib==3.1.0
olefile==0.46
OWSLib==0.19.1
packaging==20.3
paramiko==2.6.0
pathspec==0.9.0
pexpect==4.6.0
Pillow==7.0.0
platformdirs==2.5.2
plotly==4.4.1
pluggy==0.13.0
protobuf==3.6.1
psycopg2==2.8.4
py==1.8.1
py-ubjson==0.14.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycups==1.9.73
Pygments==2.3.1
PyGObject==3.36.0
PyHamcrest==1.9.0
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
pypng==0.0.20
pyproj==2.5.0
PyQRCode==1.2.1
PyQt5==5.14.1
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
pytest==4.6.9
python-apt==2.0.0+ubuntu0.20.4.3
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-snappy==0.5.3
PyTrie==0.2
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
rclpy==1.9.2
rcutils==4.0.3
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
resource-retriever==2.5.0
retrying==1.3.3
roman==2.0.0
rosidl-adapter==2.2.2
rosidl-cli==2.2.2
rosidl-cmake==2.2.2
rosidl-generator-c==2.2.2
rosidl-generator-py==0.11.3
rosidl-parser==2.2.2
rosidl-typesupport-c==1.2.1
rosidl-typesupport-cpp==1.2.1
rosidl-typesupport-introspection-c==2.2.2
rosidl-typesupport-introspection-cpp==2.2.2
rpyutils==0.2.0
SecretStorage==2.3.1
service-identity==18.1.0
simplejson==3.16.0
sip==4.19.21
six==1.14.0
snowballstemmer==2.2.0
soupsieve==1.9.5
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
systemd-python==234
texttable==1.6.2
tf2-py==0.17.4
tf2-ros-py==0.17.4
tomli==2.0.1
traitlets==4.3.3
turtlebot3-example==2.1.2
turtlebot3-teleop==2.1.2
Twisted==18.9.0
txaio==2.10.0
u-msgpack-python==2.1
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
usb-creator==0.3.7
wadllib==1.3.3
wcwidth==0.1.8
webencodings==0.5.1
websocket-client==0.53.0
wsaccel==0.6.2
xkit==0.0.0
zipp==1.0.0
zope.interface==4.7.1
